* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  color: white;
  background-color: #020a18;
}

a {
  text-decoration: none;
}

.top {
  margin: 0 0 157px 0;
}

.header {
  padding: 39px 0;
  margin: 0 0 160px 0;
  box-sizing: border-box;
  background-color: #040c1a;
}

.center {
  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu-item {}

.menu-link {
  color: #fff;
}

.menu-link:hover {
  color: #3A68B8;
}

.menu-link:active {
  color: #fff;
}

/* top-info */
.top-info {
  margin: 0 auto 197px auto;
  display: flex;
  gap: 128px;
}

.top-content {
  min-width: 604px;
}

.top-content-uptitle {
  margin: 0 0 10px 0;
  color: #3A68B8;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
}

.top-content-title {
  margin: 0 0 40px 0;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
}

.top-content-text {
  margin: 0 0 50px 0;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
}

.top-content-btn-wrp {
  display: flex;
  gap: 20px;
}

.top-content-btn {
  display: block;
  padding: 15px 30px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  border-radius: 5px;
  border: none;
  background-color: #3A68B8;
  color: #fff;
}

.top-content-btn:hover {
  background-color: #fff;
  color: #3A68B8;
  cursor: pointer;
}

.top-content-btn:active {
  background-color: #3A68B8;
  color: #fff;
}

.top-info-img {}

.top-logos {}

.top-logos-list {
  list-style: none;
  display: flex;
  gap: 71px;
  flex-wrap: wrap;
}

.advantages {
  margin: 0 auto 243px auto;
}

.advantages-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 362px);
  gap: 30px;
}

.advantages-item {
  max-width: 362px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background: #132035;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-item__big {
  grid-column: span 2;
  grid-row: span 2;
}

.advantages-item__big .advantages-item {
  max-width: 754px;
  width: 100%;
  min-height: 808px;
}

.advantages-item__big .advantages-title {}

.advantages-item__big .advantages-photo {
  width: 306px;
  height: 322px;
}

.advantages-photo {
  width: 98px;
  height: 103px;
  /* margin: 0 auto -30px auto; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-list>li:nth-child(1) .advantages-photo {
  background-image: url(../img/advantages-1.png);
}

.advantages-list>li:nth-child(2) .advantages-photo {
  background-image: url(../img/advantages-2.png);
}

.advantages-list>li:nth-child(3) .advantages-photo {
  background-image: url(../img/advantages-3.png);
}

.advantages-list>li:nth-child(4) .advantages-photo {
  background-image: url(../img/advantages-4.png);
}

.advantages-list>li:nth-child(5) .advantages-photo {
  background-image: url(../img/advantages-5.png);
}

.advantages-list>li:nth-child(6) .advantages-photo {
  background-image: url(../img/advantages-6.png);
}

.advantages-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  opacity: 0.7;
}

.advantages-txt {
  line-height: 160%;
  text-align: center;
}

.advantages-title,
.advantages-txt {
  opacity: 0.7;
  text-align: center;
}