* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.main {
  background: #fff;
}

.center {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.homepage-header {
  padding: 40px 0 84px 0;
  display: flex;
  gap: 500px;
  align-items: center;
}

.wrapper-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 533px;
  list-style: none;
}

.menu-list-item-link {
  font-size: 14px;
  line-height: 16px;
  color: black;
  transition: all 0.3s;
}

.menu-list-item-link:hover {
  color: #F25822;
}

.menu-list-item-link:active {
  color: black;
}

.homepage-content {
  padding: 0 0 162px;
  display: flex;
  gap: 39px;
}

.content-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta-title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  margin: 0 0 17px 0;
}

.meta-text {
  width: 466px;
  font-size: 20px;
  line-height: 23px;
  color: #888888;
  margin: 0 0 37px 0;
}

.meta-button-wrapper {
  width: 302px;
  display: flex;
  align-items: center;
  gap: 72px;
}

.button-start {
  width: 140px;
  height: 50px;
  border: none;
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.button-start:hover {
  color: #F25822;
  background: #fff;
}

.button-start:active {
  color: #fff;
  background: #F25822;
}

.button-watch {
  width: 90px;
  height: 19px;
  border: none;
  background: none;
  font-size: 15px;
  line-height: 18px;
  color: #AAAAAA;
  cursor: pointer;
  transition: all 0.3s;
}

.button-watch:hover {
  color: #F25822;
}

.button-watch:active {
  color: #AAAAAA;
}

.main-brand {
  padding: 96px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}

.brand-logos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.features {
  padding: 100px 0;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-block {
  width: 370px;
  padding: 40px 30px 25px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.features-block:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features-block__bg-img {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.features-list-item:nth-child(1)>.features-block .features-block__bg-img {
  background-image: url(../img/features-bg-img-1.svg);
}

.features-list-item:nth-child(2)>.features-block .features-block__bg-img {
  background-image: url(../img/features-bg-img-2.svg);
}

.features-list-item:nth-child(3)>.features-block .features-block__bg-img {
  background-image: url(../img/features-bg-img-3.svg);
}

.features-block__heading {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000;
}

.features-block__txt {
  width: 305px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}

.features-block__link {
  font-size: 11px;
  line-height: 150%;
  color: #000;
  font-weight: 700;
  transition: all 0.3s;
}

.features-block__link:hover {
  color: #F25822;
}

.features-block__link:active {
  color: #000;
}

.services {
  background-color: #FAFAFA;
  padding-top: 92px;
  padding-bottom: 100px;
}

.services-heading {
  max-width: 682px;
  width: 100%;
  margin: 0 auto 55px auto;
  margin-bottom: 55px;
}

.services-heading__header {
  text-align: center;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 19px;
}

.services-heading__txt {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.sevices-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services-block {
  width: 370px;
  box-sizing: border-box;
  background-color: #fff;
  transition: all 0.3s;
}

.services-block:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.services-block__bg-img {
  width: 370px;
  height: 270px;
  background-repeat: no-repeat;
  background-size: contain;
}

.services-list-item:nth-child(1)>.services-block .services-block__bg-img {
  background-image: url(../img/services-bg-img-1.png);
}

.services-list-item:nth-child(2)>.services-block .services-block__bg-img {
  background-image: url(../img/services-bg-img-2.png);
}

.services-list-item:nth-child(3)>.services-block .services-block__bg-img {
  background-image: url(../img/services-bg-img-3.png);
}

.services-block__meta {
  padding: 25px 30px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-block__meta-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 22px;
}

.services-block__meta-txt {
  color: #AAAAAA;
  margin-bottom: 39px;
  font-size: 15px;
  line-height: 150%;
}

.services-block__meta-btn {
  width: 150px;
  height: 50px;
  padding: 15px 20px 15px 32px;
  box-sizing: border-box;
  border: none;
  color: white;
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.services-block__meta-btn:hover {
  color: #F25822;
  background: #AAAAAA;
  box-shadow: 4px 4px 8px rgba(87, 82, 80, 0.2);
}

.services-block__meta-btn:active {
  color: white;
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
}